<div class="row mt-4">
    <% for (let p of list) { %>

        <div class="col-md-4 col-6 px-md-2 pb-4">
            <div class="item-product">
                <div class="img-product">
                    <a href="#" title=""><img src="../img/product/<%=p.image %>" alt="" class="whprd"></a>
                </div>
            </div>
            <div class="info-product text-center">
                <p class="product-single_series fw-normal mt-2 mb-1" style="font-size: 0.8rem; color:#bfbfbf"><%= p.Category.name %></p>
                <h3 class="product-card_title m-0 fw-bold" style="font-size: 0.9rem; letter-spacing: 2.4px;">
                    <%=p.name %>
                </h3>
                <p class="product-prices" style="font-size: 0.8rem;">
                    <%=p.price %>
                </p>
            </div>
            <div class="d-grid">
                <a class="btn btn-outline-light custom_button_viewmore btn-cart" href="/product_detail_wbs/<%= p.id %>" role="button">Chi tiết</a>
            </div>
        </div>
        <% } %>
</div>