<div class="panel-body">
    <form method="post" id="MyForm" action="/edit_ord/<%= item.id %>" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Mã đơn hàng: </label>
            <input type="text" class="form-control" name="name" value="<%= item.name %>" readonly />
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Trạng thái: </label>
            <select class="form-control" name="status">
                <% for(let p of statuss){%> <option value="<%= item.status %>" <%= p==item.status ? 'selected' : '' %>>
                <%= p %> <% } %>
            </select>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Khách hàng: </label>
            <input type="text" id="price" class="form-control" name="costumer" value="<%= item.costumer%>" readonly />
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Địa chỉ: </label>
            <input type="text" class="form-control" name="address" value="<%= item.address %>" readonly />
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Số điện thoại: </label>
            <input type="text" class="form-control" name="phone" value="<%= item.phone %>" readonly />
        </div>

        <div class="form-group input-group mt-3">
            <button type="submit" class="btn btn-outline-dark" style="margin-left: 0px !important">
                Cập nhật đơn hàng
            </button>
        </div>
    </form>
</div>
