<div class="panel-body">
    <form method="post" id="MyForm" action="/edit_ord/<%= item.id %>" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Mã đơn hàng: </label>
            <input type="text" class="form-control" name="name" value="<%= item.name %>"/>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Trạng thái: </label>
            <select class="form-control" name="status">
                <% for(let p of statuss){%>
                    <option value="<%= item.status %>" <%= p==item.status  ? 'selected' : '' %>><%= p %></option>
                <% } %>
            </select>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Khách hàng: </label>
            <input type="text" id="price" class="form-control" name="costumer"  value="<%= item.costumer%>"/>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Địa chỉ: </label>
            <input type="text" class="form-control" name="address" value="<%= item.address %>"/>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Số điện thoại: </label>
            <input type="text" class="form-control" name="phone" value="<%= item.phone %>"/>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Ngày đặt: </label>
            <input type="date" class="form-control" name="date" value="<%= item.date %>"/>
        </div>


        <div class="form-group input-group mt-3">
            <button type="submit" class="btn btn-outline-dark" style="margin-left: 0px !important">
                Sửa sản phẩm
            </button>
        </div>
    </form>
</div>